body{
    font-family: Arial, sans-serif;
    background:#f5f6fa;
    margin:40px;
}

h1{
    text-align:center;
}

table{
    border-collapse:collapse;
    width:80%;
    margin:auto;
    background:white;
}

th{
    background:#34495e;
    color:white;
    padding:12px;
}

td{
    padding:10px;
    border-bottom:1px solid #ddd;
}

tr:hover{
    background:#f1f1f1;
}

a{
    text-decoration:none;
    color:#2c7be5;
    font-weight:bold;
}
